 html {
    font-size: 10px;
    font-family: sans-serif;
}
p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/*
h1 {
    font-family: 'billabong';
}
@font-face {
    font-family: 'billabong';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
} */

h1 {
    font-size: 5rem;
    text-align: center;
    /* margin: 0; */
    font-weight: 100;
    margin: 2rem 0;
    letter-spacing: -1px;
    flex-direction: wrap;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.photoGrid{
    max-width: 1000px;
    margin: 0 auto;
    display : flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.figure {
    flex-basis: calc(33.333% - 4rem);
    border: 1px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
}
.photo {
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-top: -2rem;
    max-width: none;
}

.button-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
   }

button, .button, .remove-button {
    border: 2px solid #f2f2f2;
    background: none;
    flex-basis: 48%;
    display: inline-block;
    line-height: 2;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: blueviolet;
    transition: all 0.2s;
    box-sizing: padding-box;
   }

   button:hover,.button:hover, button:focus, .button:focus {
    border-color: #00f;
    outline: 0;
   }